/* 
File: Jubilee.css Date: 2026-02-09

Author: Gunnar Liden

General information
====================

Defines all style classes for the application Jubilee.htm

*/
/* For the whole body */
body
{
    background-color: black;
    /* background-image: url('../Images/LeeKrasner_8.jpg'); */
}

/* The whole page */
.cl_image_page
{
    border: solid 2px black;
    font-family: 'Arial';
    font-size: 15px;
    font-weight: bold;
    width: 2000px;
    height: 950px;
    /* width: 100%; */
    /*height: 100%; */
    margin-top: 20px;
    margin-left: 20px;

    
}

/* For all <label> elements */
label
{
    margin-left: 10px;
}


/* For some <button> elements */
button
{
    border: solid 2px black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 95%;
}

.cl_div_jubilee_controls
{
    /* border: solid 1px yellow; */
    overflow: hidden;
 
    clear: both;
}

.cl_div_jubilee_controls_exit
{
    /* border: solid 1px yellow; */
    text-align: right;
    padding-right: 1%;
    padding-bottom: 0.2%;
    width: 3%;
    float: right;
    cursor: pointer;
}

.cl_div_jubilee_controls_restart
{
    /* border: solid 1px yellow; */
    text-align: right;
    padding-right: 1%;
    padding-bottom: 0.2%;
    width: 3%;
    float: right;
    cursor: pointer;
}

.cl_div_image_container
{
    /* border: solid 1px white; */
    width: 100%;
    height: 100%;
    clear: both;    
}



